li {
    font-size: 0.8em;
}
ul.smaller > li, li.smaller, p.saller {
    font-size: 0.7em;
}
ul.larger li, li.larger {
    font-size: 1em;
}
ul.smallest > li, li.smallest, p.smallest {
    font-size: 0.5em;
}
.reveal .thumbnails img.half {
    width: 30%;
    height: 240px;
}
.reveal .thumbnails img.third {
    width: 22%;
    height: 190px;
    margin-top: 5px;
}
.reveal .thumbnails img.quart {
    width: 15%;
    height: 130px;
}
.righty {
    text-align: right;
    padding-right: 2em;
}