li {
    font-size: 0.8em;
}
ul.smaller li, li.smaller {
    font-size: 0.8em;
}
ul.smallest li, li.smallest {
    font-size: 0.6em;
}
.reveal .thumbnails img.half {
    width: 30%;
    height: 240px;
}
.reveal .thumbnails img.third {
    width: 22%;
    height: 190px;
    margin-top: 5px;
}
.reveal .thumbnails img.quart {
    width: 15%;
    height: 130px;
}